
<div id="Intro" class="text_div">
	
  <p>
    {{{doc.intro.p1}}}
  </p>
  <p>
    {{{doc.intro.p2}}}
  </p>
  <p>
    {{{doc.intro.p3}}}
  </p>

</div>

<div class="text_div">
<h2>{{{doc.sec1.headline}}}</h2>
<p>
  {{{doc.sec1.intro}}}
</p>
</div>

<div id='container' class='container-0'>
  <div id='graph' class='diagram-container'></div>
  <div id='sections'>
    <div>
      <h3>{{{doc.sec1.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec1.bloc1.p1}}}
      </p>      
      <p>
        {{{doc.sec1.bloc1.p2}}}
      </p>
      
    </div>
    <div>
      <h3>{{{doc.sec1.bloc2.headline}}}</h3>
      	<p>
        	{{{doc.sec1.bloc2.p1}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc2.p2}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc2.p3}}}
        </p>
        
    </div>
    <div>
      <h3>{{{doc.sec1.bloc3.headline}}}</h3>
      <p>
        	{{{doc.sec1.bloc3.p1}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc3.p2}}}
        </p>
    </div>
  </div>
</div>

<div class="text_div">
  <h2>{{{doc.sec2.headline}}}</h2>
  <p>
    {{{doc.sec2.intro.p1}}}
  </p>
  <p>
    {{{doc.sec2.intro.p2}}}
  </p>
  <p>
    {{{doc.sec2.intro.p3}}}
  </p>
</div>

<div id='container' class='container-1'>
  <div id='graph'></div>

  <div id='sections'>
    <div>
      <h3>{{{doc.sec2.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec2.bloc1.p1}}}
      </p>
      <p>
        {{{doc.sec2.bloc1.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec2.bloc2.p1}}}
      </p>
      <p>
        {{{doc.sec2.bloc2.p2}}}
      </p>
      <p>
        {{{doc.sec2.bloc2.p3}}}
      </p>
    </div>
  </div>


</div>

<div class="text_div">
	<h2>{{{doc.sec3.headline}}}</h2>
	<p>
    {{{doc.sec3.intro}}}
	</p>
</div>


<div id='container' class='container-2'>
  <div id='graph'></div>
  <div id='sections'>

    <div>
      <h3>{{{doc.sec3.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc1.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc1.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc2.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc2.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc3.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc3.p2}}}
      </p>
    </div>

    <div>
      <h3>{{{doc.sec3.bloc4.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc4.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc5.p1}}}
      </p> 
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc6.p1}}}
      </p>
    </div>

    <div>
      <h3>{{{doc.sec3.bloc7.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc7.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc7.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc8.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc8.p2}}}
      </p>
    </div>
    <div>
      <p>
        {{{doc.sec3.bloc9.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc10.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc10.p2}}}
      </p> 
    </div>

    <div>
       <p>
        {{{doc.sec3.bloc11.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc12.p1}}}
      </p> 
    </div>

    <div>
      <h3>{{{doc.sec3.bloc13.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc13.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc13.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc14.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc14.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc15.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc16.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc16.p2}}}
      </p>
    </div>


    <div>
      <p>
        {{{doc.sec3.bloc17.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc18.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc18.p2}}}
      </p>
    </div>


    <div>
      <h3>{{{doc.sec3.sim.headline}}}</h3>
      <p>
        {{{doc.sec3.sim.p1}}}
      </p>
      <p>
        {{{doc.sec3.sim.p2}}}
      </p>
    </div>

  </div>

</div>

<div class="controls">
      <p>
            <input type="range" min="0" max="100" value="80" id="DSPrevenue" class="slider" style="width:200px;">
          <br>
          <label for="DSPrevenue" 
               style="display: inline-block; width: 280px; text-align: left;">
               DSP Revenue
          </label>
      </p>

      <p>
          <input type="range" min="60" max="100" value="95" id="TotalOtherStreams" class="slider" style="width:200px;">
          <br>
          <label for="TotalOtherStreams" 
               style="display: inline-block; width: 280px; text-align: left">
               Total Other Streams = <span id="TotalOtherStreams-value">…</span>
          </label>
      </p>

      <p>
          <input type="range" min="0" max="100" value="75" id="Trackstreams" class="slider" style="width:200px;">
          <br>
          <label for="Trackstreams" 
               style="display: inline-block; width: 280px; text-align: left">
               Track Streams = <span id="Trackstreams-value">…</span>
          </label>
      </p>

      <p>
          <input type="range" min="0" max="100" value="80" id="Artistshare" class="slider" style="width:200px;">
          <br>
          <label for="Artistshare" 
               style="display: inline-block; width: 280px; text-align: left">
               Artist share = <span id="Artistshare-value">…</span> %
          </label>
      </p>
</div>

<div class="text_div" style="padding-top:100px">
  <h2>{{{doc.outro.headline}}}</h2>

  <p>
    {{{doc.outro.p1}}}
  </p>

</div>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>



