
<div id="Intro" class="text_div">
	
  <p>
    {{{doc.intro.p1}}}
  </p>
  <p>
    {{{doc.intro.p2}}}
  </p>
  <p>
    {{{doc.intro.p3}}}
  </p>

</div>

<div class="text_div">
<h2 id="subhed-1">{{{doc.sec1.headline}}}</h2>
<p>
  {{{doc.sec1.intro}}}
</p>
</div>

<div id='container' class='container-0'>
  <div id='graph' class='diagram-container'>
  </div>
  <div id='sections'>
    <div id="triggerDiv1">
      <h3>{{{doc.sec1.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec1.bloc1.p1}}}
      </p>      
      <p>
        {{{doc.sec1.bloc1.p2}}}
      </p>
      
    </div>
    <div>
      <h3>{{{doc.sec1.bloc2.headline}}}</h3>
      	<p>
        	{{{doc.sec1.bloc2.p1}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc2.p2}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc2.p3}}}
        </p>
        
    </div>
    <div>
      <h3>{{{doc.sec1.bloc3.headline}}}</h3>
      <p>
        	{{{doc.sec1.bloc3.p1}}}
        </p>
      	<p>
        	{{{doc.sec1.bloc3.p2}}}
        </p>
    </div>

    <div class="last-div"></div>
  </div>
</div>

<div class="text_div">
  <h2 id="subhed-2">{{{doc.sec2.headline}}}</h2>
  <p>
    {{{doc.sec2.intro.p1}}}
  </p>
  <p>
    {{{doc.sec2.intro.p2}}}
  </p>
  <p>
    {{{doc.sec2.intro.p3}}}
  </p>
</div>

<div id='container' class='container-1'>
  <div id='graph'>
      <div class='legend-1'>
        <p class="preLegend">Premium</p>
        <p class="freeLegend">Freemium</p>
      </div>
  </div>

  <div id='sections'>
    <div id="triggerDiv2">
      <h3>{{{doc.sec2.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec2.bloc1.p1}}}
      </p>
      <p>
        {{{doc.sec2.bloc1.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec2.bloc2.p1}}}
      </p>
      <p>
        {{{doc.sec2.bloc2.p2}}}
      </p>
      <p>
        {{{doc.sec2.bloc2.p3}}}
      </p>
    </div>

    <div class="last-div"></div>
  </div>


</div>

<div class="text_div">
	<h2 id="subhed-3">{{{doc.sec3.headline}}}</h2>
	<p>
    {{{doc.sec3.intro}}}
	</p>
</div>


<div id='container' class='container-2'>
  <div id='graph'>
    <div class='legend'>
      <div class='legend-block' id='other-block'>
        <div class='legend-circle other'></div>
        <p>Other tracks</p>
      </div>
      <div class='legend-block' id='artist-block'>
        <div class='legend-circle artist'></div>
        <p class="track-share-leg">Artist share</p>
      </div>
      <div class='legend-block' id='dist-block'>
        <div class='legend-circle dist'></div>
        <p>Dist/ Label</p>
      </div>
    </div>
  </div>
  <div id='sections'>

    <div id="triggerDiv3">
      <h3>{{{doc.sec3.bloc1.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc1.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc1.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc2.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc2.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc3.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc3.p2}}}
      </p>
    </div>

    <div>
      <h3>{{{doc.sec3.bloc4.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc4.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc5.p1}}}
      </p> 
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc6.p1}}}
      </p>
    </div>

    <div>
      <h3>{{{doc.sec3.bloc7.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc7.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc7.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc8.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc8.p2}}}
      </p>
    </div>
    <div>
      <p>
        {{{doc.sec3.bloc9.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc10.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc10.p2}}}
      </p> 
    </div>

    <div>
       <p>
        {{{doc.sec3.bloc11.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc12.p1}}}
      </p> 
    </div>

    <div>
      <h3>{{{doc.sec3.bloc13.headline}}}</h3>
      <p>
        {{{doc.sec3.bloc13.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc13.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc14.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc14.p2}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc15.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc16.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc16.p2}}}
      </p>
    </div>


    <div>
      <p>
        {{{doc.sec3.bloc17.p1}}}
      </p>
    </div>

    <div>
      <p>
        {{{doc.sec3.bloc18.p1}}}
      </p>
      <p>
        {{{doc.sec3.bloc18.p2}}}
      </p>
    </div>


    <div>
      <h3>{{{doc.sec3.sim.headline}}}</h3>
      <p>
        {{{doc.sec3.sim.p1}}}
      </p>
      <p>
        {{{doc.sec3.sim.p2}}}
      </p>
    </div>

    <div class="last-div"></div>

  </div>

</div>

<div class="controls">
  <div class="sliderContainer">
    <div id="DSPrevenue"></div>
    <label for="DSPrevenue">Streaming platform revenue</label>
    </div>
  <div class="sliderContainer">
    <div id="TotalOtherStreams"></div>
    <div class="details">
      <label for="TotalOtherStreams">Total other streams = <span id="Totalstreams-text">10,000,000,000</span></label>
    </div>
  </div>
  <div class="sliderContainer">
    <div id="Trackstreams"></div>
    <div class="details">
      <label for="Trackstreams">Track streams = <span id="Trackstreams-text">250,000,000</span></label>
    </div>
  </div>
  <div class="sliderContainer">
    <div id="Artistshare"></div>
    <div class="details">
      <label for="Artistshare">Artist share = <span id="Artistshare-text">85%</span></label>
    </div>
  </div>
      {{!-- <p>
            <input type="range" min="0" max="100" value="80" id="DSPrevenue" class="slider">
          <br>
          <label for="DSPrevenue" >
               DSP Revenue
          </label>
      </p>

      <p>
          <input type="range" min="60" max="100" value="95" id="TotalOtherStreams" class="slider">
          <br>
          <label for="TotalOtherStreams" >
               Total Other Streams = <span id="TotalOtherStreams-value">…</span>
          </label>
      </p>

      <p>
          <input type="range" min="0" max="100" value="75" id="Trackstreams" class="slider">
          <br>
          <label for="Trackstreams" >
               Track Streams = <span id="Trackstreams-value">…</span>
          </label>
      </p>

      <p>
          <input type="range" min="0" max="100" value="80" id="Artistshare" class="slider">
          <br>
          <label for="Artistshare" >
               Artist share = <span id="Artistshare-value">…</span> %
          </label>
      </p> --}}
</div>

<div class="text_div">
  <h2 id="subhed-4">{{{doc.outro.headline}}}</h2>

  <p>
    {{{doc.outro.p1}}}
  </p>

</div>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>



